.App {
  text-align: center;
}

.App h1 {
  font-size: 25px;
  margin-top: 100px;

  height: 100px;
}

input {
  width: 200px;
  text-align: center;
  border: black solid 2px;
  margin-bottom: 30px;
}
